{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/forms.js') }}"></script>
{% endblock %}

{% block body %}
<!--=======content================================-->
<div class="wrapper marBot6">
    <div class="container_12">
        <div class="grid_12">
            <div class="grid_5 alpha mobile_bottom_mar">
                <h2>Find us</h2>
                <figure class="img_inner">
                    <iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                </figure>
                <h3 class="v4">8901 Marmora Road,<br>Glasgow, D04 89GR.</h3>
                <address>
                    <dl>
                        <dt></dt>
                        <dd><span>Freephone:</span> +1 800 559 6580</dd>
                        <dd><span>Telephone:</span> +1 959 603 6035</dd>
                        <dd><span>FAX:</span> +1 504 889 9898</dd>
                        <dd>E-mail: <a href="#" class="link1">mail@demolink.org</a></dd>
                    </dl>
                </address>
            </div>

            <div class="grid_7 omega">
                <h2>Get in touch</h2>
                
                {% if app.flashes('success') %}
                    <div class="success_wrapper">
                        <div class="success">
                            {% for message in app.flashes('success') %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if app.flashes('error') %}
                    <div class="error_wrapper">
                        <div class="error">
                            {% for message in app.flashes('error') %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {{ form_start(contact_form) }}
                    <fieldset>
                        <div class="form-group">
                            {{ form_label(contact_form.name) }}
                            {{ form_widget(contact_form.name, {'attr': {'placeholder': 'Your Name'}}) }}
                            {{ form_errors(contact_form.name) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(contact_form.email) }}
                            {{ form_widget(contact_form.email, {'attr': {'placeholder': 'Your Email'}}) }}
                            {{ form_errors(contact_form.email) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(contact_form.state) }}
                            {{ form_widget(contact_form.state, {'attr': {'placeholder': 'Your State'}}) }}
                            {{ form_errors(contact_form.state) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(contact_form.phone) }}
                            {{ form_widget(contact_form.phone, {'attr': {'placeholder': 'Your Phone'}}) }}
                            {{ form_errors(contact_form.phone) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(contact_form.fax) }}
                            {{ form_widget(contact_form.fax, {'attr': {'placeholder': 'Your Fax'}}) }}
                            {{ form_errors(contact_form.fax) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(contact_form.message) }}
                            {{ form_widget(contact_form.message, {'attr': {'placeholder': 'Your Message'}}) }}
                            {{ form_errors(contact_form.message) }}
                        </div>

                        <div class="clear"></div>
                        <div class="btns">
                            {{ form_widget(contact_form.submit, {'attr': {'class': 'more_btn3'}}) }}
                            <div class="clear"></div>
                        </div>
                    </fieldset>
                {{ form_end(contact_form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
