{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
<!--=======content================================-->
<div class="wrapper marBot3">
    <div class="container_12">
        <div class="grid_12">
            <h2 class="v3">Services overview</h2>
            <div class="grid_4 alpha mobile_bottom_mar">
                <div class="wrapper marBot2">
                    <img src="{{ asset('images/page2_pic1.jpg') }}" alt="" class="img3">
                    <h3><a href="#">Service name #1</a></h3>
                    <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                </div>
                <div class="wrapper marBot2">
                    <img src="{{ asset('images/page2_pic4.jpg') }}" alt="" class="img3">
                    <h3><a href="#">Service name #4</a></h3>
                    <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                </div>
                <div class="wrapper marBot2">
                    <img src="{{ asset('images/page2_pic7.jpg') }}" alt="" class="img3">
                    <h3><a href="#">Service name #7</a></h3>
                    <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                </div>
            </div>
            <div class="grid_4">
                <div class="wrapper marBot2">
                    <img src="{{ asset('images/page2_pic2.jpg') }}" alt="" class="img3">
                    <h3><a href="#">Service name #2</a></h3>
                    <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                </div>
                <div class="wrapper marBot2">
                    <img src="{{ asset('images/page2_pic5.jpg') }}" alt="" class="img3">
                    <h3><a href="#">Service name #5</a></h3>
                    <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                </div>
                <div class="wrapper marBot2">
                    <img src="{{ asset('images/page2_pic8.jpg') }}" alt="" class="img3">
                    <h3><a href="#">Service name #8</a></h3>
                    <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                </div>
            </div>
            <div class="grid_4 omega">
                <div class="wrapper marBot2">
                    <img src="{{ asset('images/page2_pic3.jpg') }}" alt="" class="img3">
                    <h3><a href="#">Service name #3</a></h3>
                    <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                </div>
                <div class="wrapper marBot2">
                    <img src="{{ asset('images/page2_pic6.jpg') }}" alt="" class="img3">
                    <h3><a href="#">Service name #6</a></h3>
                    <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gray_bg">
    <div class="container_12">
        <div class="grid_12">
            <h2>Our Healthcare Specialties</h2>
            <div class="grid_6 alpha">
                <ul class="list2">
                    <li><a href="#">Family Medicine / General Practice</a></li>
                    <li><a href="#">Hospital Medicine</a></li>
                    <li><a href="#">Internal Medicine</a></li>
                    <li><a href="#">Allergy &amp; Asthma</a></li>
                    <li><a href="#">Anesthesiology</a></li>
                    <li><a href="#">Audiology &amp; Hearing Aids</a></li>
                    <li><a href="#">Cardiology / Heartcare</a></li>
                    <li><a href="#">Dermatology</a></li>
                    <li><a href="#">Endocrinology</a></li>
                    <li><a href="#">Family Medicine / General Practice</a></li>
                    <li><a href="#">Gastroenterology</a></li>
                </ul>
            </div>
            <div class="grid_6 omega">
                <ul class="list2">
                    <li><a href="#">Geriatrics</a></li>
                    <li><a href="#">Gynecology / Woman's Health</a></li>
                    <li><a href="#">Hematology</a></li>
                    <li><a href="#">Infectious Disease</a></li>
                    <li><a href="#">Nephrology</a></li>
                    <li><a href="#">Neurology</a></li>
                    <li><a href="#">Oncology</a></li>
                    <li><a href="#">Ophthalmology / Eye Care</a></li>
                    <li><a href="#">Orthopedics</a></li>
                    <li><a href="#">Otolaryngology</a></li>
                    <li><a href="#">Pediatrics</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
